*.swp
*~
*.orig
*.bak
.bundler_stubs/
.bundler_stubs/*
.DS_Store
.gitkeep
.idea/
.project
.rbenv-gemsets
.rspec
.rvmrc
.ruby-version
.sass-cache/
*/.sass-cache/
/.bundle
/db/*.sqlite3
/log/*.log
/tmp
bundler_stubs/
config/database.yml
custom_plan.rb
doc/
tags
zeus.json
/assets/bootstrap
*sublime-workspace
*sublime-project
public/*
