.navbar {
  background: darkgray !important;
}

.show-table{
  th {
    padding-left: 10px;
  }
}

table {
  .buttons {
    float: right;
    a {
      width: 150px;
    }
  }
  .profile-details {
    li {
      float: left;
      padding: 0 5px 0 5px;

      border-right: 1px solid lightgray;

      &:last-child {
        border-right: none;
      }
    }
  
    
  }
}

.show-link {
  color: darkred !important;
}

.wider-btn {
  width: 120px;
}

