.navbar {
  background: darkgray !important;

  .logo {
    img {
      height: 55px;
    }
  }
}

.show-table{
  th {
    padding-left: 10px;
  }
}

.btn {
  a {
    &:visited {
      color: white !important;
    }
  }
}

table {
  .buttons {

    a {
      width: 150px;
    }
    .padam-small{
      a {
        width: 80px;
        font-size: 0.7em;
      }
    }
  }
  .profile-details {
    li {
      float: left;
      padding: 0 5px 0 5px;

      border-right: 1px solid lightgray;

      &:last-child {
        border-right: none;
      }
    }
  
  .attendance {
    width: 180px;
  }
    
  }
}

.show-link {
  color: darkred !important;
}

.wider-btn {
  width: 120px;
}

@media print {
  .print-disabled {
    display: none;
  }

}

.address {
  .input {
    
  margin-left: 1px !important;
  }
  .picker{
    margin-left: -1px !important;
  }
}

.media-type-select {
  li {
    float: left;
    margin-left: 5px;
  }
}
