.row.hello

  .centered.two.columns.welcome-hero
    
    = image_tag 'logo.png'
  .centered.six.columns
    %h2
      %strong
        Sistem Jemputan Media
  .centered.eight.columns
    .button-box
      .six.columns.minibox
        %span.btn.medium.primary.pretty
          = link_to t('media_profile_list'), media_profiles_path
      .six.columns.minibox
        %span.btn.medium.secondary.pretty
          = link_to t('event_list'), events_path
     
