%nav.navbar.footer

  .row
    .push_four.four.columns.center
      %ul
        /
          %li
            = link_to 'About Us', '#'
          %li
            = link_to 'Contact Us', '#'
    .push_three.six.columns.centered
      %p.footext
        Menara MPS, Persiaran 3, Bandar Baru Selayang,68100 Batu Caves, Selangor Darul Ehsan
        %br
        E-mel:aduanmps@mps.gov.my | Copyright &copy; 2013, MPS