%nav.navbar.footer

  .row
    .push_four.four.columns.center
      %ul
        /
          %li
            = link_to 'About Us', '#'
          %li
            = link_to 'Contact Us', '#'
    .push_four.four.columns.center
      %p.copyright
        Copyright &copy; 2013, MPS