%nav.navbar
  .row.top
    .twelve.columns
      .text-align-right
  .row.bottom
    .six.columns
      %h3.six.columns.logo

        MPS 
    .six.columns
      /- Social Networking Buttons
      .five.push_one.columns
        %ul
          %li
            =link_to media_profiles_path do
              = t('.list_all_media_profiles')
          %li
            =link_to '#' do
              %i.icon-twitter
          %li
            =link_to '#' do
              %i.icon-gplus
          %li
            =link_to '#' do
              %i.icon-rss
      /- Search
      / %ul.six.columns
      /   %li.field
      /     %input{:type => 'search', :placeholder => 'Search News', :class => 'large email input'}
      /   /
      /     .medium.primary.btn
      /       =link_to 'Go', '#'